/*Reset CSS*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*CSS All*/
:root 
{
    --primary-color: #ee4d2b;
    --black-color: #23292c;
    --white-color: #fff;
    --text-color: #777;
}

body
{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Header*/
/*Navbar*/
#nav
{
    padding: 5px;
    background-color: var(--white-color);
}

#nav .logo
{
    font-family: "Zilla Slab", sans-serif;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    color: var(--black-color);
}

#nav .logo i
{
    color: var(--primary-color);
}

#nav ul li a
{
    color: var(--black-color);
    font-size: 16px;
    line-height: 16px;
    padding: 10px 12px;  
    margin: 16px 8px;
}

#nav ul li .active
{
    color: var(--white-color);
    background: var(--primary-color);
    border-radius: 5px;
}

#nav ul li a:hover
{
    color: var(--white-color);
    background: var(--primary-color);
    border-radius: 5px;
}

#nav .icons i,
#nav .icons div
{
    cursor: pointer;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    border-radius: 50%;
    color: var(--black-color);
    background-color: #eee;
    margin-left: 5px;
}

#nav .icons i:hover,
#nav .icons div:hover
{
    background-color: var(--primary-color);
    color: var(--white-color);
    transform: rotate(360deg);
}

#nav .tab-active
{
    color: var(--primary-color);
}

/*Back to top*/
#myBtn 
{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}
  
#myBtn:hover 
{
    opacity: 0.8;
}

/*Back to top*/
#myBtn 
{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}
  
#myBtn:hover 
{
    opacity: 0.8;
}

/*Main*/
/*Banner*/
.page-banner
{
    padding: 128px 0 75px;
    background: url("../img/Banners/page-ban.jpg") center center no-repeat;
    background-size: cover;
}

.page-banner h1
{
    color: var(--white-color);
}

.page-banner p
{
    font-size: 22px;
    color: #999999;
}

.page-banner h1,
.page-banner p
{
    text-align: left;
    margin-bottom: 20px;
}

.page-banner-list
{
    margin: 16px 0;
}

.page-banner-list li
{
    list-style: none;
    display: inline;
}

.page-banner-list li a
{
    color: var(--text-color);
    font-size: 15px;
    text-decoration: none;
}

.page-banner-list li a:hover
{
    opacity: 0.8;
}

.page-banner-list i
{
    color: var(--text-color);
    font-size: 12px;
    padding: 0 2px;
}

#menu
{
    padding-top: 50px;
}

.menu-list
{
    margin-bottom: 50px;
}

.menu-title
{
    text-align: center;
    margin-bottom: 40px;
}

.menu-title h1
{
    font-size: 50px;
    color: var(--black-color);
    font-weight: 600;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.menu-title p
{
    font-size: 18px;
    color: var(--text-color);
}

.menu-item
{
    padding: 10px 10px 0px 0px;
    margin-bottom: 20px;
}
.form-input{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    padding-left: 10px;
}
.form-text{
    margin-top: 10px;
    width: 99.21%;
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
}

/*Banner Reservation*/
.reservation-banner
{
    padding: 50px 10px;
    text-align: center;
}
.reservation-content input
{
    padding: 15px 35px;
    color: var(--white-color);
    font: 18px;
    font-weight: 600;
    text-decoration: none;
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.reservation-content input:hover
{
    color: var(--primary-color);
    background-color: var(--white-color);
}

/*Footer*/
footer
{
    padding-top: 70px;
    background-color: #252428;
}

footer h3
{
    color: var(--white-color);
    margin-bottom: 4px;
}

footer p
{
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 5px;
}

#up-footer .ft-mt
{
    margin-bottom: 50px;
}

#up-footer .footer-socials
{
    margin-bottom: 20px;
}

#up-footer .footer-socials a
{
    font-size: 30px;
    text-decoration: none;
    color: var(--white-color);
    font-family: "Zilla Slab", sans-serif;
    font-weight: bolder;
}

#up-footer .footer-socials a i
{
    color: var(--primary-color);
    padding-right: 3px;
}

#up-footer .socials-list i
{
    color: var(--white-color);
    padding-right: 8px;
}

#up-footer .socials-list a
{
    color: var(--text-color);
    text-decoration: none;
    
}

#up-footer .socials-list a:hover
{
    opacity: 0.7;
}

#up-footer h3
{
    font-size: 22px;
    margin-bottom: 15px;
    line-height: 28px;
}

#up-footer .contact-list i
{
    width: 30px;
    display: inline-block;
}

#down-footer p
{
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}
