html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS All*/
*
{
    transition: all 0.2s linear;
}
:root 
{
    --primary-color: #ee4d2b;
    --black-color: #23292c;
    --white-color: #fff;
    --text-color: #777;
}

body
{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Header*/
/*Navbar*/
#nav
{
    padding: 5px;
    background-color: var(--white-color);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

#nav .logo
{
    font-family: "Zilla Slab", sans-serif;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    color: var(--black-color);
}

#nav .logo i
{
    color: var(--primary-color);
}

#nav ul li a
{
    color: var(--black-color);
    font-size: 16px;
    line-height: 16px;
    padding: 10px 12px;  
    margin: 16px 8px;
}

#nav ul li .active
{
    color: var(--white-color);
    background: var(--primary-color);
    border-radius: 5px;
}

#nav ul li a:hover
{
    color: var(--white-color);
    background: var(--primary-color);
    border-radius: 5px;
}

#nav .icons i,
#nav .icons div
{
    cursor: pointer;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    border-radius: 50%;
    color: var(--black-color);
    background-color: #eee;
    margin-left: 5px;
}

#nav .icons i:hover,
#nav .icons div:hover
{
    background-color: var(--primary-color);
    color: var(--white-color);
    transform: rotate(360deg);
}

#nav .tab-active
{
    color: var(--primary-color);
}

#menu-bar
{
    display: none;
}

.modal-search .modal-sch-main
{
    border-radius: 10px;
}

.modal-search .search-btn
{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.modal-search .search-btn i
{
    color: var(--white-color);
}

.modal-search .search-btn:hover
{
    opacity: 0.8;
}

/*Back to top*/
#myBtn 
{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}
  
#myBtn:hover 
{
    opacity: 0.8;
}

/*Main*/
/*Banner*/
.page-banner
{
    padding: 150px 0 75px;
    background: url("../img/Banners/page-ban.jpg") center center no-repeat;
    background-size: cover;
}

.page-banner h1
{
    color: var(--white-color);
}

.page-banner p
{
    font-size: 22px;
    color: #999999;
}

.page-banner h1,
.page-banner p
{
    text-align: left;
    margin-bottom: 20px;
}

.page-banner-list
{
    margin: 16px 0;
}

.page-banner-list li
{
    list-style: none;
    display: inline;
}

.page-banner-list li a
{
    color: var(--text-color);
    font-size: 15px;
    text-decoration: none;
}

.page-banner-list li a:hover
{
    opacity: 0.8;
}

.page-banner-list i
{
    color: var(--text-color);
    font-size: 12px;
    padding: 0 2px;
}

/*Menu*/
#menu
{
    margin-bottom: 50px;
}

#menu .menu-list h2
{
    font-size: 50px;
    text-align: center;
    padding: 80px 30px;
    margin-bottom: 30px;
}

#menu .menu-pizza
{
    background: url("../img/Banners/menu-ban2.jpg") center center no-repeat;
}

#menu .menu-pasta
{
    background: url("../img/Banners/menu-ban3.jpg") center center no-repeat;
}

#menu .menu-bergers
{
    background: url("../img/Banners/menu-ban4.jpg") center center no-repeat;
}

#menu .menu-deserts
{
    background: url("../img/Banners/menu-ban5.jpg") center center no-repeat;
}

#menu .menu-list li
{
    display: flex;
    margin-bottom: 25px;
}

#menu .menu-list .img-menu
{
    margin-right: 20px;
}

#menu .menu-list .img-menu img
{
    border: 1px solid #d7d7d7;
    border-radius: 50%;
}

#menu .menu-content
{
    padding-top: 8px;
    width: 100%;
}

#menu .menu-content h4
{
    margin-bottom: 0;
    line-height: 20px;
}

#menu .menu-content h4 span
{
    padding: 3px 0;
}

#menu .menu-content .item-title
{
    font-size: 18px;
    color: var(--black-color);
    font-weight: 600;
    line-height: 20px;
}

#menu .menu-content .item-price
{
    font-size: 18px;
    float: right;
    color: var(--primary-color);
    padding-left: 10px;
    font-weight: 600;
}

#menu .menu-content p
{
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.4;
    margin: 10px 0;
}

#menu .menu-list
{
    margin-bottom: 100px;
}

/*Pagination*/
.page-nav
{
    margin-bottom: 20px;
}

.page-link
{
    color: var(--primary-color);
}

.page-link:hover
{
    color: var(--primary-color);
}

.page-item.active .page-link
{
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/*Banner Reservation*/
.reservation-banner
{
    padding: 130px 0;
    text-align: center;
    background: url("../img/Banners/menu-ban6.jpg") center center no-repeat;
}

.reservation-content h2
{
    color: var(--white-color);
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
}

.reservation-content p
{
    color: #aaa;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 25px;
    line-height: 1.4;
}

.reservation-content a
{
    padding: 10px 35px;
    color: var(--white-color);
    font: 18px;
    font-weight: 600;
    text-decoration: none;
    background-color: var(--primary-color);
}

.reservation-content a:hover
{
    color: var(--primary-color);
    background-color: var(--white-color);
}

/*Footer*/
footer
{
    padding-top: 70px;
    background-color: #252428;
}

footer h3
{
    color: var(--white-color);
    margin-bottom: 4px;
}

footer p
{
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 5px;
}

#up-footer .ft-mt
{
    margin-bottom: 50px;
}

#up-footer .footer-socials
{
    margin-bottom: 20px;
}

#up-footer .footer-socials a
{
    font-size: 30px;
    text-decoration: none;
    color: var(--white-color);
    font-family: "Zilla Slab", sans-serif;
    font-weight: bolder;
}

#up-footer .footer-socials a i
{
    color: var(--primary-color);
    padding-right: 3px;
}

#up-footer .socials-list i
{
    color: var(--white-color);
    padding-right: 8px;
}

#up-footer .socials-list a
{
    color: var(--text-color);
    text-decoration: none;
    
}

#up-footer .socials-list a:hover
{
    opacity: 0.7;
}

#up-footer h3
{
    font-size: 22px;
    margin-bottom: 15px;
    line-height: 28px;
}

#up-footer .contact-list i
{
    width: 30px;
    display: inline-block;
}

#down-footer p
{
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}