:root {
    --primary-color: #ee4d2b;
    --black-color: #23292c;
    --white-color: #fff;
    --text-color: #777;

    --header-height: 78px;

    --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

* {
    box-sizing: inherit;
    transition: all 0.2s linear;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
    line-height: 1.4rem;
}

section {
    padding: 5rem 9%;
}

/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.grid__col-4 {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
}

.grid__col-6 {
    width: 16.667%;
    padding-left: 15px;
    padding-right: 15px;
}

.grid__col-third {
    width: 33.33333%;
}

/* Button */
.btn {
    min-width: 118px;
    height: 4.8rem;
    text-decoration: none;
    border: none;
    font-size: 1.8rem;
    font-weight: 600;
    cursor: pointer;
    padding: 0 1.2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6rem;
    background: none;
}

/* Main */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #fff;
    padding: 1rem 7%;
    box-shadow: var(--box-shadow);
}

.header .logo {
    color: var(--black-color);
    font-size: 2.5rem;
    font-weight: bolder;
    font-family: "Zilla Slab", sans-serif;
    text-decoration: none;
}

.header .logo i {
    color: var(--primary-color);
}

/* Navbar */
.header .navbar a {
    color: var(--black-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding: 10px 12px;  
    margin: 16px 8px;
    border-radius: 0.5rem;
}

.header .navbar a.active,
.header .navbar a:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
    text-decoration: none;
}

.header .icons i,
.header .icons div {
    cursor: pointer;
    height: 3.5rem;
    width: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    font-size: 1.6rem;
    border-radius: 50%;
    color: var(--black-color);
    background-color: #eee;
    margin-left: 0.5rem;
}

.header .icons i:hover,
.header .icons div:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    transform: rotate(360deg);
}

.header .icons #menu-bars {
    display: none;
}

/*Back to top*/
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%;
}

#myBtn:hover {
    opacity: 0.8;
}

.modal-search .modal-sch-main
{
    border-radius: 10px;
}

.modal-search .search-btn
{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.modal-search .search-btn i
{
    color: var(--white-color);
}

.modal-search .search-btn:hover
{
    opacity: 0.8;
}   

.modal-search .search-box
{
    padding: 23px;
}

/* Slider */
.slider {
    height: 625px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: url("../img/Slider/slider.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.text-content {
    width: 48rem;
    padding-left: 5rem;
}

.text-content .text-heading {
    color: var(--black-color);
    font-size: 8rem;
    font-weight: 600;
    padding-bottom: 2.4rem;
    line-height: 8rem;
}

.text-content .text-desc {
    font-size: 2.3rem;
    color: var(--text-color);
    padding-bottom: 2.6rem;
}

a.slider-btn {
    font-size: 1.6rem;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 5rem;
    border-top-left-radius: 0;
    position: relative;
    text-align: center;
    padding: 1rem 4.7rem;
}

a.slider-btn:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.banner-section {
    padding: 13rem 9.6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: url("../img/banner/banner.jpg") center center no-repeat;
    background-size: cover;
}

.banner-content {
    width: 48rem;
}

.banner-heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: #aaa;
    padding-bottom: 2rem;
}

.banner-name {
    font-size: 5rem;
    font-weight: 600;
    line-height: 5.6rem;
    color: var(--white-color);
    padding-bottom: 3rem;
}

.banner-price {
    font-size: 7rem;
    font-weight: 600;
    line-height: 6rem;
    color: var(--primary-color);
    padding-bottom: 2rem;
}

a.banner-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 0 3.5rem;
    border-radius: 5rem;
    border-top-left-radius: 0;
    position: relative;
    text-align: center;
}

a.banner-btn:hover {
    background-color: var(--white-color);
    color: var(--primary-color);
}

.popular-menu-section {
    background: #111 url("../img/product/banner.jpg") center center no-repeat;
    background-size: cover;
    padding-bottom: 140px;
}

.popular-menu-content {
    padding: 5rem 0;
    text-align: center;
}

.popular-menu-content h2 {
    font-size: 5rem;
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 28px;
}

.popular-menu-content span {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--text-color);
}

.image img {
    width: 100%;
}

.slick-initialized .slick-slide {
    margin: 0 15px;
}

.slick-arrow {
    opacity: 0.5;
    border-radius: 50%;
    border: 1px solid #a1a1a1;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 10px 20px;
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    margin-left: -80px;
    margin-right: -80px;
    cursor: pointer;
}

.slick-arrow:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-color: transparent;
    opacity: 0.6;
}

.slick-prev {
    left: 0;
}

.slick-next {
    right: 0;
}

.slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
}

.slick-dots button {
    font-size: 0;
    width: 12px;
    height: 12px;
    border-radius: 100rem;
    border: none;
    background-color: #eee;
    cursor: pointer;
}

.slick-dots .slick-active button {
    background-color: var(--primary-color);
}

.slick-dots li {
    list-style: none;
}

.image-items h3 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--black-color);
    margin-bottom: 14px;
}

.image-items p {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--text-color);
    padding: 0 20px;
    margin-bottom: 16px;
    line-height: 1.4;
}

.image-items span {
    display: block;
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 30px;
}

a.menu-btn {
    color: var(--black-color);
    border: 1px solid var(--primary-color);
    padding: 0 35px;
    border-radius: 0.5rem;
}

a.menu-btn:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* Service */
.service-section {
    border-top: 1px solid #ebebeb;
    background-color: #fff7e9;
}
.service-box {
    text-align: center;
    margin: 27px 0 22px;
}

.service-post h3 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--black-color);
    margin: 26px 0;
}

.service-post p {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.4;
}

/* Book A Table */
.banner-section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../img/banner/banner.jpg") center center no-repeat;
    background-size: cover;
    padding: 15rem 9.6rem;
}

.banner-box {
    text-align: center;
    margin: 0 auto;
    max-width: 820px;
}

.banner-box h2 {
    font-size: 5rem;
    font-weight: 600;
    color: var(--white-color);
    margin-bottom: 3rem;
    line-height: 1.4;
}

.banner-box p {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.4;
    margin-bottom: 32px;
}

.banner-box a.btn {
    color: var(--white-color);
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 1rem 3rem;
}

.banner-box a.btn:hover {
    color: var(--primary-color);
    background-color: var(--white-color);
    border: none;
}

/* Search Food */
.search-food {
    border-top: 1px solid #ebebeb;
    padding: 8rem 9%;
}

.search-food-title {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
}

.search-food-title h5 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--black-color);
}

.search-food-title a.btn {
    border: none;
    align-items: center;
    color: var(--black-color);
}

.search-food-title a.btn:hover {
    opacity: 0.8;
    background-color: var(--white-color);
    color: var(--black-color);
}

.search-food-title a.btn i {
    margin-left: 5px;
}

.search-food-items h5 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--black-color);
    text-align: center;
    margin-top: 20px;
}
.search-food-items img {
    border-radius: 50%;
    width: 100%;
}

/* Begin Footer */
.bg-footer {
    background: #222;
}

.bg-footer .grid {
    padding-top: 40px;
}

.bg-footer .grid__row {
    padding-top: 50px;
}

.bg-footer .grid__col-third {
    padding: 0 15px;
}

.footer-contact {
    margin-bottom: 70px;
}

.footer-contact h4 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--white-color);
    margin-bottom: 33px;
    letter-spacing: 2px;
}

.footer-contact p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
    margin-bottom: 14px;
    line-height: 1.6;
}

.footer-contact p i {
    font-size: 1.3rem;
    width: 20px;
}

.footer-newswriter {
    margin-bottom: 55px;
}

.footer-newswriter h4 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--white-color);
    margin-bottom: 33px;
    letter-spacing: 2px;
}

.footer-newswriter p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #999;
    line-height: 1.6;
    margin-bottom: 18px;
}

.footer-newswriter span:last-child {
    font-size: 1.4rem;
    color: #555;
}

.footer-newswriter span {
    color: #999;
    font-size: 1.4rem;
    line-height: 1.6;
}

.footer-newswriter span i {
    font-size: 1.3rem;
    margin-right: 8px;
}

.footer-newswriter span a {
    color: var(--primary-color);
    line-height: 1.6;
}

.footer-gallery h4 {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--white-color);
    margin-bottom: 36px;
    letter-spacing: 2px;
}

.footer-gallery-img {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 52px;
}

.footer-gallery-img a {
    display: block;
    position: relative;
    width: calc((100% - 50px) / 4);
    margin-right: 8px;
    margin-bottom: 5px;
}

.footer-gallery-img a img {
    width: 100%;
    border-radius: 10px;
}

.end-footer {
    background-color: #111;
    padding: 22px 0;
}

.end-footer .grid__row {
    align-items: center;
    justify-content: space-between;
}

.footer-social i {
    color: var(--white-color);
    font-size: 1.5rem;
    margin-left: 18px;
}

.footer-copyright {
    padding-right: 40px;
}

.footer-copyright p {
    font-size: 1.6rem;
    color: #999;
    line-height: 1.4;
}

.footer-copyright p i {
    font-size: 1.4rem;
}

.footer-copyright p a {
    color: #666;
}

.footer-copyright p a:hover {
    color: var(--primary-color);
}

/* Media queries */
@media (max-width: 1024px) {
    .slider,
    .banner-section {
        padding: 13rem 3%;
    }

    .text-content {
        padding-left: 0;
    }

    .bg-footer .grid__row {
        padding: 4rem 3% 0;
    }

    .end-footer {
        padding: 2.2rem 3%;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 1rem 2rem;
    }

    section {
        padding: 5rem 2rem;
    }

    .slider,
    .banner-content {
        justify-content: flex-start;
        background-position: center;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 60%;
    }

    /* Header */
    .header .icons #menu-bars {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: var(--white-color);
        border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
        border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
        padding: 1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .header .navbar a {
        display: block;
        padding: 1.5rem;
        margin: 1rem;
        font-size: 2rem;
        background-color: #eee;
    }

    /* Banner1 */
    .banner-section {
        padding: 13rem 7rem;
    }

    .banner-name {
        line-height: 5rem;
        padding-bottom: 0;
    }

    /* Search Food */
    .search-food-title {
        justify-content: center;
    }

    .search-food-title h5 {
        font-size: 3.4rem;
    }

    .search-food-title a.btn {
        display: none;
    }

    .search-food-items {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
    }

    .search-food-items h5 {
        margin-bottom: 6rem;
    }

    /* Service */
    .service-box .grid__col-4 {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 15px;
        margin-top: 15px;
    }

    /* Banner2 */
    .banner-section2 {
        padding: 15rem 5rem;
    }

    /* Footer */
    .bg-footer .grid__col-third {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .end-footer .footer-copyright {
        padding: 0.5rem 1.5rem;
    }
}

@media (max-width: 576px) {
    /* Slider */
    .text-content .text-heading {
        font-size: 3.4rem;
        width: 20rem;
        line-height: 1;
        padding-bottom: 0.8rem;
    }

    .text-content .text-desc {
        font-size: 1.8rem;
    }

    /* Banner */
    .banner-section {
        padding: 13rem 1.5rem;
    }

    .banner-content .banner-price {
        font-size: 5rem;
    }

    .banner-content .banner-name,
    .banner-box h2 {
        font-size: 3.4rem;
        padding-bottom: 0;
    }

    /* Popular Menu */
    .popular-menu-content h2 {
        font-size: 3.4rem;
    }

    /* Search Food */
    .search-food {
        padding: 4rem 9%;
    }

    .search-food-title {
        justify-content: center;
    }

    .search-food-title h5 {
        font-size: 3.4rem;
    }

    .search-food-title a.btn {
        display: none;
    }

    .search-food-items {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .search-food-items h5 {
        margin-bottom: 6rem;
    }

    /* Service */
    .service-box .service-post h3 {
        margin: 20px 0;
    }

    /* Banner2 */
    .banner-section2 {
        padding: 15rem 1.5rem;
    }

    .service-box .grid__col-4,
    .bg-footer .grid__col-third {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .service-box .service-post,
    .bg-footer .footer-newswriter {
        margin-bottom: 25px;
    }

    .bg-footer .footer-gallery h4 {
        margin-top: 46px;
    }

    .end-footer {
        padding: 2.2rem 1.5rem;
    }

    .end-footer .footer-social {
        padding: 0.5rem 0;
    }

    .end-footer .footer-social i:first-child {
        margin: 0;
    }

    .end-footer .footer-copyright {
        padding: 0.5rem 4rem 0.5rem 0;
    }
}
