/*All*/
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-nb
{
    color: #fff;
    padding: 12px 20px;
    background-color: #ea462b;
    border: 1px solid #ea462b;
}

.btn-nb:hover
{
    opacity: 0.8;
}

/*Header*/
.fixed
{
    background-color: #fff;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}

.btn-order
{
    padding: 8px;
    border: 1px solid #ccc;
}

.btn-order:hover
{
    background-color: #9df0b2;
    color: #fff;
}

/*Main*/
#slider
{
    padding-top: 50%;
    margin-top: 50px;
    background-image: url(/assets/img/Slider/slider1.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

#slider .text-content
{
    position: absolute;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    left: 50%;
    top: 30%;
}

#slider .text-heading
{
    font-weight: 400;
    font-size: 55px;
    margin-bottom: 10px;
}

#slider .text-decription
{
    font-size: 20px;
}

.btn-p1
{
    border: 1px solid #424242;
    padding: 10px;
    margin-top: 10px;
    background-color: #424242;
    color: #fff;
}

.btn-p1:hover
{
    border: 1px solid #29b424;
    background-color: #29b424;
    color: #fff;
}

.book-table
{
    background: url(/assets/img/Banner/banner1.jpg);
    padding: 100px 0;
}

.title-book
{
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}

.title-book h2
{
    font-size: 50px;
}

.title-book p
{
    font-size: 18px;
}

#reservation-form label
{
    color: #fff;
    font-size: 18px;
}

#reservation-form input
{
    padding: 10px 20px;
}

#submit_reservation
{
    margin-top: 35px;
}

/*Footer*/
footer
{
    background-color: #252428;
}

footer h3
{
    color: #fff;
}

footer p
{
    color: #777777;
}

#up-footer .ft-mt
{
    padding: 70px 0;
}

#up-footer .footer-socials
{
    margin-bottom: 20px;
}

#up-footer .footer-socials a
{
    font-size: 45px;
    text-decoration: none;
    color: #fff;
}

#up-footer .socials-list
{
    font-size: 20px;
}

#up-footer .socials-list a i
{
    color: #000;
    padding-right: 5px;
    width: 30px;
    display: inline-block;
}

#up-footer .socials-list a
{
    color: #777777;
    font-size: 18px;
    text-decoration: none;
}

#up-footer .socials-list a:hover
{
    opacity: 0.7;
}

#up-footer .sub-form input
{
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #e1e1e1;
}

#up-footer .sub-form button
{
    margin-top: 10px;
    float: right;
    
}

#up-footer .contact-list i
{
    width: 30px;
    display: inline-block;
}

#down-footer p
{
    margin: 0;
    padding: 20px 0;
    border-top: 1px solid #333333;
}